<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <hr />
    <div *ngIf="(folder == 'Bio')">   
      <ion-card >
        <ion-card-header>
          <ion-card-title>{{section}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <div style="float: left; width:150px; height: 150px;"><img src='{{ Bio.picture }}' /></div>
          <h1>{{ Bio.name }}</h1>
          <h2>{{ Bio.label }}</h2>
          <hr>
          {{ Bio.headline }}
          <hr>
          <p>{{ Bio.summary }}</p>

        </ion-card-content>
      </ion-card>      
  </div>
    <div *ngIf="(folder == 'Skills')">   
        <ion-card *ngFor="let section of sections">
          <ion-card-header>
            <ion-card-title>{{section}}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <!--<ion-chip color="success" *ngFor="let skill of Resume.skills"  >-->
              
            <ion-chip color="success" *ngFor="let skill of getSkills(section)"  >
              <ion-label color="dark">{{skill}}</ion-label>
            </ion-chip>
          </ion-card-content>
        </ion-card>      
    </div>
    <!--<ul>
      <li *ngFor="let skill of Resume.skills | orderBy:skill.name">{{skill.name}}</li>
    </ul>-->
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI
        Components</a></p>
  </div>

</ion-content>